.icon{
  width: 24px;
  color: #262626;

}
.header{
  display: flex;
  justify-content: space-between;
}
.navigation{
  display: flex;
  justify-content: space-between;
}
.stories{
  display: flex;
  justify-content: space-between;
}